<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>guest Room</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="dist/css/style.min.css" />
    <link rel="stylesheet" href="dist/css/css-awesome/all.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="dist/fontawesome-free-5.12.1-web/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
  </head>

  <body>
    <div class="header-basic">
      <div class="logo-main">
        <div class="container">
          <div class="row">
            <div class="items col-md-4">
              <div class="logo-left flex a-center j-between">
                <input type="text" id="search" placeholder="" />
                <a href="#"
                  ><img
                    src="http://bizweb.dktcdn.net/100/368/970/themes/740033/assets/search.png?1586168599868"
                    alt="timkiem"
                /></a>
              </div>
            </div>

            <div class="items col-md-4 j-center">
              <a href="index.html" class="logo-center">
                <img
                  src="http://bizweb.dktcdn.net/100/368/970/themes/740033/assets/logo.png?1586168599868"
                  alt="logo"
                />
              </a>
            </div>

            <div class="items col-md-4 j-end">
              <div class="logo-right flex a-center j-end">
                <div class="infor-user flex j-between">
                  <i class="fas fa-user-tie"></i>
                  <p>HaTruong</p>
                </div>
                <div class="login-registration flex ">
                  <i class="fas fa-sign-in-alt"></i>
                  <ul>
                    <li class="btn-login">Log in</li>
                    <li class="btn-registration">Registration</li>
                  </ul>
                </div>
                <a href="#">
                  <i class="fas fa-shopping-cart"></i>
                  <div class="giohang">
                    <p>Không có sản phẩm nào</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-login">
      <div class="login">
        <div class="title flex j-between">
          <p>Đăng Nhập</p>
          <div class="close-login">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div>
          <input type="text" placeholder="Tên đăng nhập">
        </div>
        <div>
          <input type="text" placeholder="Mật khẩu">
        </div>
        <div class="btn flex j-between">
          <a href="#" class="show-all">ĐĂNG NHẬP</a>
          <a href="#" class="show-all btn-login-second">ĐĂNG Kí</a>
        </div>
      </div>
    </div>

    <div class="notification-login">
      <div class="content-notifi">
        <div class="close-notification-login">
          <i class="fas fa-times"></i>
        </div>
        <p>Đăng nhập thành công!</p>
      </div>
    </div>

    <div class="container-registration">
      <div class="registration">
        <div class="title flex j-between">
          <p>Đăng Kí</p>
          <div class="close-registration">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div>
          <input type="text" placeholder="Tên đăng nhập">
        </div>
        <div>
          <input type="text" placeholder="Email">
        </div>
        <div>
          <input type="text" placeholder="Mật khẩu">
        </div>
        <div>
          <input type="text" placeholder="Xác nhận mật khẩu">
        </div>
        <div class="btn flex j-between">
          <a href="#" class="show-all btn-registration-second">ĐĂNG NHẬP</a>
          <a href="#" class="show-all">ĐĂNG Kí</a>
        </div>
      </div>
    </div>

    <div class="notification-registration">
      <div class="content-notifi">
        <div class="close-notification-registration">
          <i class="fas fa-times"></i>
        </div>
        <p>Đăng kí tài khoản thành công!</p>
      </div>
    </div>

    <header class="nav-main">
      <div class="container">
        <ul class="flex j-center">
          <li>
            <a href="index.html">Home page</a>
          </li>
          <li id="products-menu">
            <a href="#" class="flex a-end"
              >Product <span class="down-icon"><i class="fas fa-angle-down"></i></span
            ></a>
            <div class="products">
              <div class="flex j-between">
                <div class="item-product">
                  <h2>Bedroom</h2>
                  <ul>
                    <li>Modern Bed</li>
                    <li>Cabinet in fronr of bed</li>
                    <li>Lamp</li>
                    <li>Decorative accessories</li>
                    <li>Luxurious sleeping cushions</li>
                    <li>Blankets, sheets, pollows</li>
                    <li>Wardrobe</li>
                  </ul>
                  <h2>Promotion products</h2>
                </div>
                <div class="item-product">
                  <h2>Living room</h2>
                  <ul>
                    <li>Sofa Set</li>
                    <li>Single Sofa</li>
                    <li>Tea table</li>
                    <li>TV shelf</li>
                    <li>High quality wooden chair</li>
                    <li>Backrest pillow</li>
                    <li>Tapestry</li>
                  </ul>
                  <h2>New product</h2>
                </div>
                <div class="item-product">
                  <h2>Kitchen</h2>
                  <ul>
                    <li>Dining tables and chairs</li>
                    <li>Wooden kitchen cabinets</li>
                    <li>Wall cupboard</li>
                    <li>Kitchen accessories</li>
                  </ul>
                  <h2>Featured products</h2>
                </div>
                <div class="item-product">
                  <img
                    src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_mg.png?1586168599868"
                    alt="banan"
                  />
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="news.html">News</a>
          </li>
          <li>
            <a href="introduce.html">Introduce</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul>

        <!-- <div class="products">
          <div class="flex j-between">
            <div class="item-product">
              <h2>Bedroom</h2>
              <ul>
                <li>Modern Bed</li>
                <li>Cabinet in fronr of bed</li>
                <li>Lamp</li>
                <li>Decorative accessories</li>
                <li>Luxurious sleeping cushions</li>
                <li>Blankets, sheets, pollows</li>
                <li>Wardrobe</li>
              </ul>
              <h2>Promotion products</h2>
            </div>
            <div class="item-product">
              <h2>Living room</h2>
              <ul>
                <li>Sofa Set</li>
                <li>Single Sofa</li>
                <li>Tea table</li>
                <li>TV shelf</li>
                <li>High quality wooden chair</li>
                <li>Backrest pillow</li>
                <li>Tapestry</li>
              </ul>
              <h2>New product</h2>
            </div>
            <div class="item-product">
              <h2>Kitchen</h2>
              <ul>
                <li>Dining tables and chairs</li>
                <li>Wooden kitchen cabinets</li>
                <li>Wall cupboard</li>
                <li>Kitchen accessories</li>
              </ul>
              <h2>Featured products</h2>
            </div>
            <div class="item-product">
              <img
                src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_mg.png?1586168599868"
                alt="banan"
              />
            </div>
          </div>
        </div> -->
      </div>
    </header>

    <section class="product">
      <div class="container">
        <div class="product-content">
          <p style="padding: 10px; font-size: 1.4rem;">
            <span style="color: red;">Home Page</span> -> Living Room
          </p>
          <img
            src="https://bizweb.dktcdn.net/100/368/970/collections/mt-0990-home-bg.jpg?v=1575618346347"
            alt="guest-room"
          />
          <h3>Product fillters</h3>
          <i>Help filter the product you are looking for quickly</i>
          <div class="filter-by-content">
            <div class="tiltle-filter-by flex j-between">
              <h3>FILTER BY:</h3>
              <p>Remove all</p>
            </div>
            <ul class="list-filter-by flex">
              <li>
                <img
                  src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/close.png?1580806875262"
                  alt="icon"
                />
                Under price 200 USD
              </li>
              <li>
                <img
                  src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/close.png?1580806875262"
                  alt="icon"
                />
                Under price 200 USD
              </li>
            </ul>
          </div>
          <div class="product-filter flex">
            <div class="list-item-filter-chose">
              <div name-list="producer" class="item-filter-chose flex j-between" href="#">
                <p class="title-filter">Producer</p>
                <span><i class="fas fa-caret-down"></i></span>
              </div>
              <ul id="producer" class="list-suggestion-filters" style="display: none;">
                <li>
                  AnDo
                </li>
                <li>
                  AQUA
                </li>
                <li>
                  BonCow
                </li>
                <li>
                  DaiWan
                </li>
                <li>
                  Jack lin
                </li>
              </ul>
            </div>
            <div class="list-item-filter-chose">
              <div name-list="price" class="item-filter-chose flex j-between" href="#">
                <p class="title-filter">Filter prices</p>
                <span><i class="fas fa-caret-down"></i></span>
              </div>
              <ul id="price" class="list-suggestion-filters" style="display: none;">
                <li>
                  Price under 100 USD
                </li>
                <li>
                  100 USD - 200 USD
                </li>
                <li>
                  200 USD - 500 USD
                </li>
                <li>
                  Price over 500 USD
                </li>
              </ul>
            </div>
            <div class="list-item-filter-chose">
              <div name-list="species" class="item-filter-chose flex j-between" href="#">
                <p class="title-filter">Species</p>
                <span><i class="fas fa-caret-down"></i></span>
              </div>
              <ul id="species" class="list-suggestion-filters" style="display: none;">
                <li>
                  AnDo
                </li>
                <li>
                  AQUA
                </li>
                <li>
                  BonCow
                </li>
                <li>
                  DaiWan
                </li>
                <li>
                  Jack lin
                </li>
              </ul>
            </div>
          </div>
          <div class="all-products">
            <div class="tittle-all-products flex j-between">
              <h3>All products</h3>
              <div class="sort-all-products">
                <div class="sort-by flex j-between" href="#">
                  <p class="title-filter">Order</p>
                  <span><i class="fas fa-caret-down"></i></span>
                </div>
                <ul id="sort-by" class="list-suggestion-filters" style="display: none;">
                  <li>
                    A -> Z
                  </li>
                  <li>
                    Z -> A
                  </li>
                  <li>
                    Price is increasing
                  </li>
                  <li>
                    Price descending
                  </li>
                  <li>
                    Latest products
                  </li>
                  <li>
                    Oldest products
                  </li>
                </ul>
              </div>
            </div>
            <div class="all-products-content">
              <div class="row">
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/sofa-giuong-sf194-600x600.jpg?v=1577247906000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">5CBT-136 natural wooden tea table</a>
                    <h4>320 USD <span>250 USD</span></h4>
                  </div>
                </div>
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/sofa-ni-sang-trong-sf196-600x600.jpg?v=1577247805000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase flex">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">5CKT-17 unique living room TV shelf</a>
                    <h4>300 USD</h4>
                  </div>
                </div>
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/sofa-giuong-co-banh-xe-sf193-600x600-1.jpg?v=1577247709000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase flex">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">Beautiful living room TV shelf 5CKT-08</a>
                    <h4>500 USD</h4>
                  </div>
                </div>
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/sofa-vang-ni-sf198-600x600.jpg?v=1577247488000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase flex">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">High quality natural wood TV stand 5CKT-168</a>
                    <h4>250 USD <span>370 USD</span></h4>
                  </div>
                </div>
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/fileminimizer-2-5f7d3361-afa9-4759-af7c-a39d2419c0e0.jpg?v=1577247220000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase flex">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">5CKT-64 natural wood TV shelf</a>
                    <h4>270 USD</h4>
                  </div>
                </div>
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/ban-tra-go-tu-nhien-bt136-600x600.jpg?v=1577206353000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase flex">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">Natural wood tea table drawers 5CBT-130 color</a>
                    <h4>290 USD</h4>
                  </div>
                </div>
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/ke-tivi-phong-khach-kieu-dang-trang-nha-600x600.jpg?v=1577206170000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase flex">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">5CBT-17 modern living room tea table</a>
                    <h4>200 USD</h4>
                  </div>
                </div>
                <div class="item-products col-md-3">
                  <a href="#"
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/products/ke-tivi-go-tu-nhien-kt64-600x600.jpg?v=1577205866000"
                      alt="#"
                  /></a>
                  <div class="detail-purchase flex">
                    <a class="detail-purchase-item detail-purchase-item-left" href="#">Detail</a>
                    <a class="detail-purchase-item detail-purchase-item-right" href="#">Purchase</a>
                  </div>
                  <div class="content-item-featured">
                    <a href="#">
                      Industrial wood table high leg natural wood 5CBT-124
                    </a>
                    <h4>210 USD <span>230 USD</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="handbook-experience">
      <div class="container">
        <div class="content-handbook-experience flex j-between">
          <div class="home-handbook">
            <div class="title-room">
              <div class="parent-title">
                <a href="#">Beautiful home handbook</a>
              </div>
              <span></span>
            </div>
            <div class="content-home-handbook">
              <div id="slide-home-handbook" class="list-home-handbook owl-carousel">
                <div class="item-home-handbook">
                  <a href="#">
                    <img
                      src="https://bizweb.dktcdn.net/100/368/970/articles/noi-that-go-phong-an-nha-bep-650x339.jpg?v=1574743950557"
                      alt="abc"
                    />
                  </a>
                  <div class="content-item-home-handbook">
                    <a href="#">Exquisite and luxurious living room design</a>
                    <p>
                      LIVING ROOM DESIGN TOWARDS sophistication and luxury for homeowners Living
                      room design solutions: ...
                    </p>
                  </div>
                </div>
                <div class="item-home-handbook">
                  <a href="#">
                    <img
                      src="https://bizweb.dktcdn.net/100/368/970/articles/noi-that-phong-khach-nhap-khau-dep4-650x339.jpg?v=1574742714653"
                      alt="abc"
                    />
                  </a>
                  <div class="content-item-home-handbook">
                    <a href="#">Exquisite and luxurious living room design</a>
                    <p>
                      LIVING ROOM DESIGN TOWARDS sophistication and luxury for homeowners Living
                      room design solutions: ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="parent-show-all">
                <a href="#" class="show-all">See it all</a>
              </div>
            </div>
          </div>

          <div class="experience">
            <div class="title-room">
              <div class="parent-title">
                <a href="#">Let's experience</a>
              </div>
              <span></span>
            </div>
            <div id="slide-experience" class="list-content-experience owl-carousel">
              <div class="item-content-experience">
                <p>
                  Family space is really great after consulting and ordering trees from Mew Nature.I
                  wish Mew Nature to grow stronger and soon become the origin of the largest green
                  space in Vietnam, I firmly believe that.
                </p>
                <img
                  src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/ykkh_1.jpg?1586168599868"
                  alt="avt"
                />
              </div>
              <div class="item-content-experience">
                <p>
                  Family space is really great after consulting and ordering trees from Mew Nature.I
                  wish Mew Nature to grow stronger and soon become the origin of the largest green
                  space in Vietnam, I firmly believe that.
                </p>
                <img
                  src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/ykkh_2.jpg?1586168599868"
                  alt="avt"
                />
              </div>
              <div class="item-content-experience">
                <p>
                  Family space is really great after consulting and ordering trees from Mew Nature.I
                  wish Mew Nature to grow stronger and soon become the origin of the largest green
                  space in Vietnam, I firmly believe that.
                </p>
                <img
                  src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/ykkh_3.jpg?1586168599868"
                  alt="avt"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="nav-footer col-md-3">
            <div class="item-nav-footer">
              <h3>Policy</h3>
              <ul>
                <li>Return policy</li>
                <li>Shipping policy</li>
                <li>Warranty policy</li>
                <li>Purchase policy</li>
                <li>Installment policy</li>
              </ul>
            </div>
          </div>
          <div class="nav-footer col-md-3">
            <div class="item-nav-footer">
              <h3>Sales Channel</h3>
              <ul>
                <li>Sendo</li>
                <li>Zalo</li>
                <li>Tiki</li>
                <li>Shopee</li>
                <li>Lazada</li>
              </ul>
            </div>
          </div>
          <div class="nav-footer col-md-3">
            <div class="item-nav-footer">
              <h3>About us</h3>
              <ul>
                <li>Home page</li>
                <li>Product</li>
                <li>News</li>
                <li>Introduce</li>
                <li>Contact</li>
              </ul>
            </div>
          </div>
          <div class="nav-footer col-md-3">
            <div class="item-nav-footer">
              <h3>Contact</h3>
              <ul>
                <li>
                  <span
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/on-maps.png?1586168599868"
                      alt="icon"
                  /></span>
                  442 Doi Can - Ba Dinh - Hanoi
                </li>
                <li>
                  <span
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/old-phone.png?1586168599868"
                      alt="icon"
                  /></span>
                  (04) 6674 2332
                </li>
                <li>
                  <span
                    ><img
                      src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/email-envelope.png?1586168599868"
                      alt="icon"
                  /></span>
                  support@sapo.vn
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="footer-introduce">
      <div class="container">
        <div class="footer-logo-parrent">
          <a href="#"
            ><img
              src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/logo.png?1586168599868"
              alt="logo"
          /></a>
        </div>
        <p>
          MewMew Investment Joint Stock Company is the No. 1 retailer in Vietnam in terms of revenue
          and profit, with a network of more than 2,200 stores nationwide. MewMew operates chain
          stores - restaurants MewFurniture, MewNature, MewINT, MewCoffee. In addition, MewMew has
          expanded to overseas markets of Mew Furniture furniture chain in Southeast Asian
          countries.
        </p>
        <div class="parrent-icon">
          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/facebook.png?1586168599868"
            alt="facebook"
          />

          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/twitter.png?1586168599868"
            alt="tiwter"
          />

          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/instagram.png?1586168599868"
            alt="instagram"
          />

          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/youtube.png?1586168599868"
            alt="youtobe"
          />
        </div>
        <div>
          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/payment-1.png?1586168599868"
            alt="pto1"
          />
          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/payment-2.png?1586168599868"
            alt="pto2"
          />
          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/payment-3.png?1586168599868"
            alt="pto3"
          />
          <img
            src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/payment-4.png?1586168599868"
            alt="pto3"
          />
        </div>
      </div>
    </section>

    <section class="end">
      <div class="container">
        <p>Coppyright belongs to <span>MewTheme</span> . Provided by <span>Sapo</span></p>
      </div>
    </section>

    <div class="contact-us">
      <ul>
        <li>
          <a href="#"
            ><img
              src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/telephone.png?1586168599868"
              alt="call"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/messenger.png?1586168599868"
              alt="mess"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/zalo_des.png?1586168599868"
              alt="zalo"
          /></a>
        </li>
      </ul>
    </div>

    <div class="totop">
      <span><i class="fas fa-chevron-up icon-totop"></i></span>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="dist/js/scripts.js"></script>
</html>
